streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

sentence-transformers

psycopg2-binary
pgvector
sqlalchemy

pypdf

python-dotenv